

<div *ngIf="form; else loadingRecipe">
        <form [formGroup]="form">
        <h1  class="text-center">
            <div *ngIf="viewing">{{recipe.name}}</div>
            <input *ngIf="!viewing" placeholder="Name" type="text" class="text-center" formControlName="name">
        </h1>
        <div style="height: 10%">
            <img class="rounded mx-auto d-block mw-100 mh-100" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2012/11/2/0/DV1510H_fried-chicken-recipe-10_s4x3.jpg.rend.hgtvcom.826.620.suffix/1568222255998.jpeg">
        </div>

        <div class="container my-3">
            <div class="row my-3">
                <div class="col-md-4 my-3">
                    <ul class="list-group">
                        <li class="list-group-item">Level: 
                            <b *ngIf="viewing">{{recipe.level}}</b>
                            <input *ngIf="!viewing" type="text" formControlName="level">
                        </li>
                        <li class="list-group-item">Total Time: 
                            <b *ngIf="viewing">{{recipe.totalTime}}</b>
                            <input *ngIf="!viewing" type="text" formControlName="totalTime">
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 my-3">
                    <ul class="list-group">
                        <li class="list-group-item">Prep Time: 
                            <b *ngIf="viewing">{{recipe.prepTime}}</b>
                            <input *ngIf="!viewing" type="text" formControlName="prepTime">
                        </li>
                        <li class="list-group-item">Cook Time: 
                            <b *ngIf="viewing">{{recipe.cookTime}}</b>
                            <input *ngIf="!viewing" type="text" formControlName="cookTime">
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 my-3">
                    <ul class="list-group">
                        <li class="list-group-item">Yield: 
                            <b *ngIf="viewing">{{recipe.yield}}</b>
                            <input *ngIf="!viewing" type="text" formControlName="yield">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row my-3">
                    <div class="col-md-6 my-3">
                        <h3>Ingredients</h3>
                        <table class="table table-striped">
                                <thead *ngIf="!viewing">
                                <tr>
                                  <th scope="col">Type</th>
                                  <th scope="col">Content</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ingredient of recipe?.ingredients; let i = index" formArrayName="ingredients" >
                                    <ng-container [formGroupName]="i">
                                            <td *ngIf="!viewing">
                                                    <select  formControlName="type">
                                                        <option *ngFor="let type of ingredientTypes" [ngValue]="type">
                                                            {{type}}
                                                        </option>
                                                    </select>  
                                            </td>
                                            <td >
                                                <div *ngIf="viewing" [ngSwitch]="ingredient.type" >
                                                            <a *ngSwitchCase="'Recipe Name'" href="/recipe/{{ingredient.content}}">{{ingredient.content}}</a>
                                                            <div *ngSwitchCase="'Text'">{{ingredient.content}}</div>
                                                </div>
                                                <div *ngIf="!viewing" [ngSwitch]="ingredient.type" >
                                                    <select  *ngSwitchCase="'Recipe Name'" [formControlName]="'content'">
                                                        <option *ngFor="let recipe of allRecipes" [ngValue]="recipe.name">
                                                            {{recipe.name}}
                                                        </option>
                                                    </select> 
                                                    <input *ngSwitchCase="'Text'" placeholder="ingredient" [formControlName]="'content'">
                                                </div>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    <div class="col-md-6 my-3">
                        <h3>Directions</h3>
                        <ul *ngIf="viewing" class="list-group">
                            <li *ngFor="let direction of recipe.directions; let i = index" class="list-group-item"><h4>{{i + 1}}</h4>{{direction}}</li>
                        </ul>
                        <div *ngIf="!viewing" formArrayName="directions" >
                            <div *ngFor="let direction of directions.controls; let i = index">
                                    <input placeholder="directions" [formControlName]="i">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
    
                        <div class="col">
                            <h3>Notes</h3>
                            <ul *ngIf="viewing" class="list-group">
                                <li *ngFor="let note of recipe.notes" class="list-group-item">{{note}}</li>
                            </ul>
                            <div *ngIf="!viewing" formArrayName="notes" >
                                <div *ngFor="let note of notes.controls; let i = index">
                                        <input placeholder="Notes" [formControlName]="i">
   
                                </div>

                            </div>
                        </div>
                    </div>
        </div>
        </form>
</div>
<br>
<br>
<nav class="navbar fixed-bottom bg-light">
        <form [formGroup]="viewingForm">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="viewing">
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="true"> View Mode
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="false"> Edit Mode
                  </label>
                </div>
              </form>
</nav>
<ng-template #loadingRecipe>
    <br>
    <br>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <div class="spinner-border" style="width: 7rem; height: 7rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>