

<div *ngIf="recipe; else loadingRecipe">
        <form [formGroup]="form">
        <h1  class="text-center">
            <div *ngIf="viewing">{{recipe.name}}</div>
            <input *ngIf="!viewing" type="text" class="text-center" formControlName="name">
        </h1>
        <div style="height: 10%">
            <img class="rounded mx-auto d-block mw-100 mh-100" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2012/11/2/0/DV1510H_fried-chicken-recipe-10_s4x3.jpg.rend.hgtvcom.826.620.suffix/1568222255998.jpeg">
        </div>

        <div class="container my-3">
            <div class="row my-3">
                <div class="col-md-4 my-3">
                    <ul class="list-group">
                        <li class="list-group-item">Level: <b>{{recipe.level}}</b></li>
                        <li class="list-group-item">Total Time: <b>{{recipe.totalTime}}</b></li>
                    </ul>
                </div>
                <div class="col-md-4 my-3">
                    <ul class="list-group">
                        <li class="list-group-item">Prep Time: <b>{{recipe.prepTime}}</b></li>
                        <li class="list-group-item">Cook Time: <b>{{recipe.cookTime}}</b></li>
                    </ul>
                </div>
                <div class="col-md-4 my-3">
                    <ul class="list-group">
                        <li class="list-group-item">Yield: <b>{{recipe.yield}}</b></li>
                    </ul>
                </div>
            </div>
            <div class="row my-3">
                    <div class="col-md-4 my-3">
                        <h3>Ingredients</h3>
                        <ul class="list-group">
                            <li *ngFor="let ingredients of recipe.ingredients" [ngSwitch]="ingredients.type" class="list-group-item">
                                <a *ngSwitchCase="'recipeName'" href="/recipe/{{ingredients.content}}">{{ingredients.content}}</a>
                                <div *ngSwitchCase="'string'">{{ingredients.content}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 my-3">
                        <h3>Directions</h3>
                        <ul class="list-group">
                            <li *ngFor="let direction of recipe.directions; let i = index" class="list-group-item"><h4>{{i + 1}}</h4>{{direction}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row my-3">
    
                        <div class="col">
                            <h3>Notes</h3>
                            <ul class="list-group">
                                <li *ngFor="let note of recipe.notes" class="list-group-item">{{note}}</li>
                            </ul>
                        </div>
                    </div>
        </div>
        </form>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
        <form [formGroup]="viewingForm">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="viewing">
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="true"> View Mode
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="false"> Edit Mode
                  </label>
                </div>
              </form>
              <pre>{{viewing}}</pre>
</nav>
<ng-template #loadingRecipe>
    <br>
    <br>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <div class="spinner-border" style="width: 7rem; height: 7rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>